@import "variables";

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $main-font;
}
main{
  flex: 1;
  background: $gray-light;
}
a{
  text-decoration: none;
}
label{
  display: block;
  color: $gray;
}
input,
select{
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px;
  height: 32px;
  margin-top: 8px;
  border: 1px solid $gray2;
  background: $gray-light;
  -webkit-appearance: none;

  &::placeholder{
    color: $gray2;
  }
}
.template{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
img{
  max-width: 100%;
}
input[type="file"]{
  display: none;
}
.wrapper{
  max-width: 1240px;
  margin: 0 auto;
}
.header{
  background: $blue;
  color: $white;
  height: 48px;
  line-height: 48px;

  &__container{
    display: flex;
    justify-content: space-between;
  }
  &__right{
    background: $blue-dark;
    padding: 0 15px;
    cursor: pointer;
    color: $white;
  }
  &__left{
    display: inline-block;
    color: $white;
    font-weight: bold;
    font-size: 22px;
  }
  &__center{
    font-size: 14px;
  }
}
.main-info .wrapper{
  padding: 40px 0;
}
.h-money{
  margin: 0 7px;
  background: $blue-dark;
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  width: 112px;
  height: 100%;
  border: none;
  color: white;
  text-align: center;
  outline: none;
}
.footer{
  height: 70px;
  border-top: 1px solid #e6e6e6;

  &__copyright{
    color: $gray;
    font-size: 12px;
  }
}
.preheader{
  background: $white;
  height: 137px;
  border-bottom: 1px solid $gray2;
  padding: 40px 0 0;
  box-sizing: border-box;

  &__desk{
    color: $gray;
    position: relative;

    &_back::before{
      content: '«';
      position: absolute;
      left: -13px;
    }
  }
  &__range{
    width: 816px;
  }
  &__select{
    width: 190px;
  }
}
.p-detail{
  margin-top: 18px;

  &__name{
    font-size: 22px;
    font-weight: bold;
  }
  &__rating{
    margin-top: 5px;
    margin-left: 8px;
  }

  &__name,
  &__rating,
  .gray-text{
    display: inline-block;
  }
}
.m-detail{
  display: flex;
  position: relative;

  &__btn{
    width: 192px;
    height: 32px;
    line-height: 32px;
    color: $white;
    background: $blue-dark;
    text-align: center;
    margin-left: 16px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover{
      background: $blue;
    }
  }
  &__head{
    display: flex;
    justify-content: space-between;
  }
  &__count{
    flex: 1;
    border-bottom: 1px solid #E5E5E5;
  }
  &__bg{
    background-image: url('/static/image/circle.png');
    height: 40px;
    width: 40px;
    position: absolute;
    top: -50px;
  }
  &__map{
    width: 400px;
    height: 400px;
    border: 1px solid #E0E0E0;
  }
  &__right{
    margin-left: 15px;
    min-width: 838px;
  }
  &__img{
    height: 150px;
    overflow: hidden;
    margin: 15px 0;
    text-align: center;
    border: 1px solid #e0e0e0;
    background: #ffffff;
    padding: 8px;

    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.detail-item{

  &__head{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
  &__text{
    background: white;
    border: 1px solid #E5E5E5;
    padding: 16px 16px 22px;
    margin-top: 8px;
  }
}
.big-map{
  width: calc(60% - 15px);
  margin-left: 15px;
  display: inline-block;

  &__img{
    height: 550px;
    border: 1px solid #E0E0E0;
  }
  &__label{
    color: $gray;
    margin-bottom: 8px;
  }
}
.upload-file{

  &__label{
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
  }
  &__place{
    margin-top: 8px;
    display: block;
    background: $white;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.3);
    background: $gray-light;
    cursor: pointer;
  }
  &__preview{
    height: 150px;
    text-align: center;
    overflow: hidden;

    img{
      max-height: 100%;
      max-width: 100%;
    }
  }
}
.inputs{
  display: inline-block;
  width: 40%;

  &__item{
    margin-top: 25px;

    &:first-child{
      margin-top: 0;
    }
  }
}
.flex-container{
  display: flex;
}
.gray-text{
  font-size: 14px;
  color: $gray;
}
.main-page{
  display: flex;

  &__map{
    width: 816px;
    height: 624px;
    border: 1px solid #E0E0E0;
  }
  &__places{
    padding-left: 23px;
    height: 624px;
    overflow: auto;
  }
}
.m-place{
  padding: 8px 8px 8px 16px;
  background: white;
  width: 385px;
  margin-bottom: 18px;
  position: relative;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  transition: all 0.3s;

  &__title{
    font-size: 18px;
    line-height: 21px;
    display: block;
    color: $main-font;
  }
  &__rating{
    margin-top: 10px;
    display: inline-block;
    margin-right: 8px;
  }
  &__avr{
    margin-top: 10px;
  }
  &__icon{
    width: 16px;
    height: 16px;
    fill: #bdbdbd;
    cursor: pointer;

    &_edit{
      margin-right: 8px;
    }
  }
  &__hidden{
    position: absolute;
    right: 15px;
    top: 8px;
    opacity: 0;
    transition: all 0.4s;
  }
  &:hover{
    border: 1px solid #bdbdbd;

    .m-place__hidden{
      opacity: 1;
    }
  }
  .gray-text{
    display: inline-block;
  }
  &.active{
    &::before,
    &::after{
      content: '';
      transition: all 0.3s;
      position: absolute;
      left: -24px;
      top: 29px;
      border-style: solid;
      border-width: 24px 24px 24px 0;
      border-color: transparent #ffffff transparent transparent;
    }
    &::before{
      border-width: 25px 24px 25px 0;
      border-color: transparent #E0E0E0 transparent transparent;
    }
  }
}
.add-place{
  background: $blue;
  padding: 20px 0;
  display: block;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
  transition: all 0.4s;
  cursor: pointer;

  &:hover{
    background: $blue-dark;
  }
}
.modal{
  width: 464px;
  background: $white;
  position: fixed;
  z-index: 9999;
  padding: 25px 35px 35px;
  top: 88px;
  right: 50%;
  transform: translateX(50%);

  &__title{
    font-weight: bold;
    line-height: 35px;
    font-size: 22px;
  }
  &__close{
    width: 23px;
    height: 23px;
    position: absolute;
    right: 32px;
    top: 33px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;

    &::before,
    &::after{
      position: absolute;
      content: '';
      height: 1px;
      width: 20px;
      background: $gray2;
      top: 11px;
    }
    &::before{
      transform: rotate(45deg);
    }
    &::after{
      transform: rotate(-45deg);
    }
    &:hover{
      transform: rotate(180deg) translateX(3px);
    }
  }
  &__send{
    background: $blue-dark;
    cursor: pointer;
    color: $white;
    padding: 12px;
    width: 192px;
    text-align: center;
    transition: all 0.3s;
    font-size: 14px;
    box-sizing: border-box;

    &:hover{
      background: $blue;
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
  &__inputs{
    margin-top: 23px;
  }
  &__textarea{
    margin-top: 24px;
  }
  input{
    background: $white;
  }
  textarea{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $gray2;
    margin-top: 8px;
  }
  .gray-text{
    margin-bottom: 8px;
  }
}
.modal-back{
  background: rgba(0,0,0,0.6);
  z-index: 9000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
}
.home-page{
  .preheader .wrapper{
    display: flex;
    justify-content: space-between;

    .star-rating{
      margin-top: 13px;
    }
  }
}
.edit-save{
  background: $blue-dark;
  color: $white;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 4px;

  &:hover{
    background: $blue;
  }
}
.edit-input{
  max-width: 60%;
  height: 26px;
}
.main-info{

  &__count{
    margin-bottom: 20px;

    span{
      cursor: pointer;
    }
  }
}
