@import "variables";

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $main-font;
}
main{
  flex: 1;
  background: $gray-light;
}
a{
  text-decoration: none;
}
label{
  display: block;
  color: $gray;
}
input,
select{
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px;
  height: 32px;
  margin-top: 8px;
  border: 1px solid $gray2;
  background: $gray-light;
  -webkit-appearance: none;

  &::placeholder{
    color: $gray2;
  }
}
.template{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.select-container{
  position: relative;

  &::after,
  &::before{
    content: '';
    position: absolute;
    top: 24px;
    height: 1px;
    width: 13px;
    background: $gray2;
  }
  &::after{
    transform: rotate(45deg);
    right: 18px;
  }
  &::before{
    transform: rotate(-45deg);
    right: 10px;
  }
}
img{
  max-width: 100%;
}
input[type="file"]{
  display: none;
}
.wrapper{
  max-width: 1240px;
  margin: 0 auto;
}
.header{
  background: $blue;
  color: $white;
  height: 48px;
  line-height: 48px;

  &__container{
    display: flex;
    justify-content: space-between;
  }
  &__right{
    background: $blue-dark;
    padding: 0 15px;
    cursor: pointer;
  }
  &__left{
    display: inline-block;
    color: $white;
    font-weight: bold;
    font-size: 22px;
  }
  &__center{
    font-size: 14px;
  }
}
.main-info .wrapper{
  padding: 40px 0;
}

.h-money{
  margin: 0 7px;
  background: $blue-dark;
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  width: 112px;
  height: 100%;
  border: none;
  color: white;
  text-align: center;
  outline: none;
}
.footer{
  height: 70px;
  border-top: 1px solid #e6e6e6;

  &__copyright{
    color: $gray;
    font-size: 12px;
  }
}
.preheader{
  background: $white;
  height: 137px;
  border-bottom: 1px solid $gray2;
  padding: 40px 0 0;
  box-sizing: border-box;

  &__desk{
    color: $gray;
    position: relative;

    &_back::before{
      content: '«';
      position: absolute;
      left: -13px;
    }
  }
  &__range{
    width: 816px;
  }
}

.big-map{
  width: calc(60% - 15px);
  margin-left: 15px;
  display: inline-block;

  &__img{
    height: 550px;
  }
  &__label{
    color: $gray;
    margin-bottom: 8px;
  }
}
.upload-file{

  &__label{
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
  }
  &__place{
    margin-top: 8px;
    display: block;
    background: $white;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.3);
    background: $gray-light;
    cursor: pointer;
  }
  &__preview{
    height: 150px;
    text-align: center;
    overflow: hidden;

    img{
      max-height: 100%;
      max-width: 100%;
    }
  }
}
.inputs{
  display: inline-block;
  width: 40%;

  &__item{
    margin-top: 25px;

    &:first-child{
      margin-top: 0;
    }
  }
}
.flex-container{
  display: flex;
}
.gray-text{
  font-size: 14px;
  color: $gray;
}
